# Ignorar dependências, pois serão instaladas dentro do container
node_modules

# Ignorar arquivos de log e ambiente local
npm-debug.log
.env

# Ignorar a pasta de código compilado, se existir localmente
dist